.sidebar {
  width: 250px;
  height: calc(100vh - 70px);
  background: #0d47a1;
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  z-index: 999;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px 10px;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
  padding: 13px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar-menu a:hover {
  background: #1976d2;
}

.sidebar-menu a.active {
  background: #1976d2;
}

.sidebar-menu svg {
  font-size: 22px;
}

.logout-section {
  padding: 15px;
}

.logout-btn {
  width: 100%;
  border: none;
  background: #e53935;
  color: white;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.3s;
}

.logout-btn:hover {
  background: #c62828;
}

.close-btn {
  display: none;
}

/* Mobile */

@media (max-width:768px){

.sidebar{
left:-250px;
}

.sidebar.show{
left:0;
}

.close-btn{
display:flex;
justify-content:flex-end;
padding:15px;
font-size:24px;
color:white;
cursor:pointer;
}

}